<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.juniper.jconference">
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.UPDATE_DEVICE_STATS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DynamicListAddActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".JDialerMainActivity" android:screenOrientation="portrait"/>
        <activity android:name=".JConferenceMainActivity" android:screenOrientation="portrait"/>

        <service
            android:name=".service.EventsService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".receiver.EventsReceiver"
            android:enabled="true"
            android:exported="true">
            <action android:name="com.juniper.jconference.receiver.EventsReceiver" />
        </receiver>
        <receiver
            android:name=".receiver.ScreenOFFONReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.PHONE_STATE"></action>
            </intent-filter>
        </receiver>

        <provider
            android:name=".provider.Provider"
            android:authorities="com.juniper.jconference.provider" />


    </application>

</manifest>